html, body{
    background-color: #2e2e34;
}
h3,h2,h1{
    color: #a3e6da;
    font-family:'Courier New', Courier, monospace;
}
h1,h2,h3,p,input,select, button, label, table{
    padding-left: 0.5%;
}
.task-title{
    padding-left: 0.5%;
}
button{
    padding-left: 1%;
}
element{
    --button-color: rgb(141, 203, 131);
    --dark-button: rgb(112, 166, 104);
}
/* input, select{
    background-color: #b3aaa8;
} */

.btn-bs-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-black);
    background-color: #CAE2DE;
    border-color: #CAE2DE;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #CAE2DE;
    --bs-btn-hover-border-color: var(--dark-button);
    --bs-btn-focus-shadow-rgb: #CAE2DE;
    /* --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--button-color);
    --bs-btn-active-border-color: var(--button-color); */
  }
  
  p, label{
    color:#f3edec;
    font-family:'Courier New', Courier, monospace;
  }
  

  .select-container{
    display:flex;
    justify-content: center;
    position: relative;
    min-width: 140px;
    max-width: 180px;
    height: 40px;
    padding: 0.5%;
  }

  .select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color:#eef9fb;
    font-size: 100%;
    font-family:'Courier New', Courier, monospace;
    font-weight: 150;
  }

  .select-container .icon-container{
    width: 50px;
    height: 60%;
    position: absolute;
    right: 0;
    display: flex;
    align-items:self-end;
    justify-content:center;

  }

  .icon-container i{
    font-size: 20px;
    color:#2e2e34;
  }