{% extends 'base.html' %}
{% block title %}{{user.username}} Home{% endblock %}

{% block body %}
<h1>Welcome {{user.username}}!</h1>

<h2>Add new task:</h2>
  <form action="/new-task" method="POST">
    <p>
      Name of task: <input type="text" name="title">
    </p>
   
    <p>
      Category: <input type="text" name="category">
    </p>
    <p>
      <input class="btn btn-bs-primary" type="submit" value="Submit">
    </p>
  </form>

<h2>Daily Tasks:</h2>
<form name="task-form" action="/save-task" method="POST">
    {%for task in tasks%}
    <div>
        <p>
        {{task.title}} <span><input type="checkbox" value={{task.task_id}} name="completed">
            <span>Notes: <input type="text" name="task-notes-{{task.task_id}}"></span>
            <span>Amount: <input type="number" name="qty-{{task.task_id}}"></span>
            
        </p>
    </div>
    {% endfor %}
    <p>
      <input class="btn btn-bs-primary" type="submit" value="Submit">
    </p>
  </form>

{% endblock %}